*, *::before, *::after {
    box-sizing: border-box;
    font-family: chalkduster, fantasy;
}

body {

        padding: 0;
        margin: 0;
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
}

.game {
        padding: 0;
        margin: 0;
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background: url(https://media.istockphoto.com/vectors/vector-realistic-isolated-neon-sign-of-quiz-frame-for-template-and-vector-id1137974473?k=20&m=1137974473&s=170667a&w=0&h=xSwXYPNZXUumd_pTHsfFgsVT041zng2QNqFYiXneJRc=) no-repeat center center fixed; 
        background-size: cover;
}

.home {
    

        padding: 0;
        margin: 0;
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background: url(https://t3.ftcdn.net/jpg/02/45/27/34/360_F_245273409_YN37kDrZnrJuWngeNxyMv40clm3GwbmL.jpg) no-repeat center center fixed; 
        background-size: cover;
    
}


 .container {
         width: 60vh;
         height: 30vh;
         border-radius: 5px;
         padding: 20px;
         margin-left: 1%;
         box-shadow: 0 0 10px 10px;
         color:rgb(62, 242, 255)
 }

.btn-grid {
         display: grid;
         grid-template-columns: repeat(2,auto);
         gap: 10px;
         margin: 20px 0;
}

.btn {
         border: 3px solid rgb(255, 86, 230);
         background-color: white;
         border-radius: 5px;
         padding: 8x;
         margin-left: 8%;
         font-family: fantasy;
         font-size: 30px;
         margin-top: 6%;
         color: rgb(10, 9, 9);
}

.btn:hover {
    border-color: rgb(183, 0, 255);
    border-radius: 20px;
}

.start-btn {
         font-size: 1.5rem;
         font-weight: bold;
         padding: 8px;
         margin-left: 91%;
         margin-top: 40%;
}


.next-btn {
         font-size: 1.5rem;
         font-weight: bold;
         padding: 8px;
         margin-left: 91%;
         margin-top: 20%;
}


h2 {
         color: rgb(255, 255, 255);
         height: 30px;
         width: 60px;
         position: absolute;
         padding-left: 45%;

}

h1 {
    color: yellow;

         font-family: cursive;
         font-size: 60px;
         padding: 20px;
         margin-left: 30%;
   
}

p {
         color: red;
         font-family: fantasy;
         font-size: 28px;
         padding: 20px;
         margin-left: 25%;
}

a {
         color: rgb(63, 156, 255);
         font-size: 20px;
         margin-left: 80%;
         padding: 10px;
  }


  #question-container {
 
         color: rgb(96, 255, 48);
         font-size: 32px;
         margin-right: 18%;
         margin: 5%;

}


.correct-answer {
    background-color: green;
}

.wrong-answer {
    background-color: red;
}

#message {
    color: white;
}


.btn.correct {
    --hue: var(--hue-correct);
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

.hide {
    display: none;
}


body.correct {
    --hue: var(--hue-correct);
}
body.wrong {
    --hue: var(--hue-wrong);
}