body {
padding: 0;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
display: flex;
width: 100vw;
height: 100vh;
justify-content: center;
align-items: center;
}

#showcase{
    background-image: url('https://64.media.tumblr.com/7f6e61a48bc5902e3611a79628173e83/tumblr_n3lsc1I7oh1rwgdwdo1_500.jpg');
height: 100vh;
background-size: cover;

}