body {
padding: 0;
margin: 0;
display: flex;
width: 100vw;
height: 100vh;
justify-content: center;
align-items: center;
}

.container{
width: 300px;
max-width: 80%;
background-color: rgb(12, 213, 200);
border-radius: 5px;
padding: 10px;
box-shadow: 0 0 10px 2px;
}


.btn-grid {

display: grid;
grid-template-columns: repeat(2, auto);
gap: 10px;
margin: 20px 0;
}


.btn {
border-radius: 5px;
padding: 5px 10px;
color: rgb(12, 1, 1);
border: 4px solid; 
font-weight: bold;
font-size: 15px;
border-color: rgb(208, 135, 163);
}

.btn:hover {
border-color: black;
}

.btn.correct{
    color: green;
}

.btn.wrong {
    color: red;
}

.start-btn, .next-btn {

    font-size: 15px;
font-weight: bold;
padding: 10px 15px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}